{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="container py-5">
        <img src="{{ asset('logo/logo.png') }}" alt="Logo" class="d-block mx-auto mb-4 rounded-circle" style="height: 150px;">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        {% if error %}
                            <div id="login-error-flash" class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <h2 class="h4 mb-3 text-center">Connexion</h2>

                        <form method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Adresse email</label>
                                <input type="email" value="{{ last_email }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                                <label class="form-check-label" for="_remember_me">Rester connecté</label>
                            </div>

                            <button id="login-button" class="btn btn-primary w-100" type="submit">
                                Se connecter </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
