<li class="nav-item">
    <a class="nav-link {{ app.request.attributes.get('_route') starts with 'contact_' ? 'active' : '' }}" aria-current="page" href="/contact"><i class="bi bi-person-lines-fill"></i> Mes contacts</a>
</li>
