<li class="nav-item">
    <a class="nav-link {{ app.request.attributes.get('_route') starts with 'ressources_' ? 'active' : '' }}" aria-current="page" href="/"><i class="bi bi-archive"></i> Ressources</a>
</li>
