{% extends 'base.html.twig' %}

{% block title %}Modifier une ressource{% endblock %}


{% block body %}
    <div class="container">
        <a class="mb-4 btn-back-material d-inline-flex align-items-center text-decoration-none"
           href="{{ path('ressource_index', { 'id': ressource.parent.id ?? '' }) }}">
            <i class="bi bi-arrow-left"></i>
            <span>Retour</span>
        </a>

        {{ include(form_template_path) }}
    </div>
{% endblock %}

