@use "navbar" as *;

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-select/sass/bootstrap-select.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "jquery-confirm/css/jquery-confirm.css";

.ressources-section {
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: white;

  h2 {
    color: #495057;
    margin-bottom: 20px;
    font-weight: 600;
  }

  p {
    color: #6c757d;
    font-size: 0.95rem;
  }
}

.ressources-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.search-container {
    display: flex;
    position: relative;
    flex: 1;
    max-width: 500px;
}

.search-bar {
    flex: 1;
    padding: 0.5rem 2.5rem 0.5rem 0.8rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    font-size: 0.9rem;
}

.search-button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        opacity: 0.7;
    }
}

.add-button {
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1rem;

    &:hover {
        background-color: #f0f0f0;
    }
}


