@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-select/sass/bootstrap-select.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import 'navbar';
@import 'ressources';
@import 'form';
