@use "navbar" as *;
@use "ressources" as *;
@use "form" as *;

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-select/sass/bootstrap-select.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "jquery-confirm/css/jquery-confirm.css";
