{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}


{% block body %}
	<h2>Mes contacts</h2>
	<div class="ressources-section" data-controller="filter drag-and-drop" data-action="dragenter->drag-and-drop#onDragEnter dragover->drag-and-drop#onDragOver dragleave->drag-and-drop#onDragLeave drop->drag-and-drop#onDrop">
		<div class="ressources-header">
			<div class="search-container">
				<input type="text" class="search-bar" placeholder="Recherche par nom" data-filter-target="source" data-action="input->filter#filter">
			</div>
			<button class="add-button">
				<i class="bi bi-plus"></i>
				Ajouter</button>
		</div>

		<div class="files-section">
			<div class="section-header">
				<h3>Mes contacts</h3>
			</div>
			{{ include('components/ressources/_filter.html.twig') }}
		</div>

		<div class="files-table">
			{{ include('components/contact/_table.html.twig') }}
		</div>
	</div>
{% endblock %}
