{% extends 'base.html.twig' %}

{% block title %}Modifier un contact
{% endblock %}

{% block body %}
	<div class="container">
		<a class="mb-4 btn-back-material d-inline-flex align-items-center text-decoration-none" href="{{ path('contact_index') }}">
			<i class="bi bi-arrow-left"></i>
			<span>Retour</span>
		</a>
		<h1>Modifier un contact</h1>
		{{ include('contact/form/_form.html.twig', { contact_form: form }) }}
	</div>
{% endblock %}
