{% extends 'base.html.twig' %}

{% block title %}Mes tags{% endblock %}

{% block body %}
    <h2>Mes tags</h2>
    <div class="ressources-section">
        <div class="ressources-header">
            <div class="search-container"></div>
            <button class="add-button" data-bs-toggle="modal" data-bs-target="#createTagModal">
                <i class="bi bi-plus"></i>
                Ajouter</button>
        </div>

        <div class="files-table">
            {{ include('components/tag/_table.html.twig') }}
        </div>
    </div>
    {{ include('tag/component/modal_create_tag.html.twig') }}
{% endblock %}
